/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.clj-kondo
.lsp/
.DS_Store

# R History files
.Rhistory
.Rapp.history

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.Rproj.user
